<div class="course-card" *ngIf="course; else noCourse">

  <div class="course-title">
      {{cardIndex +'. '+ course.description}}
  </div>
  <img width="300" alt="Angular Logo" *ngIf="course.iconUrl"
       [src]="course.iconUrl">

  <div class="course-description">
      {{course.longDescription}}
  </div>
  <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'" [ngStyle]="{'background-color': 'cyan'}">Beginner</div>
    <div class="category" *ngSwitchCase="'INTERMEDIATE'" [ngStyle]="{'background-color': 'orange'}">Intermediate</div>
    <div class="category" *ngSwitchCase="'ADVANCED'" [ngStyle]="{'background-color': 'pink'}">Advanced</div>
  </div>
  <button (click)="onCourseView()">View Course</button>
</div>
<ng-template #noCourse>
  <p> {{`${cardIndex}. This Course is Not Available!}} </p>
</ng-template>
